<div class="layout">

  <!-- HEADER -->
  <header class="shadow-sm ">

    <button class="btn btn-light me-3"
            (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <span class="fw-bold">
      MEANT
    </span>
    <img src="/armoiries.png" alt="Logo" class="ms-auto" style="height:40px;">

  </header>


  <div class="main">

    <!-- SIDEBAR -->
    <nav class="sidebar"
         [class.collapsed]="collapsed">

      <ul class="menu">

        <li>
          <a routerLink="/dashboard">

            <i class="bi bi-speedometer2"></i>
            @if (!collapsed){
              <span >
                Dashboard
              </span>
            }

          </a>
        </li>

        <li>
          <a routerLink="/patients">

            <i class="bi bi-people"></i>
            @if (!collapsed){
            <span >
              Patients
            </span>
            }

          </a>
        </li>

        <li>
          <a routerLink="/rdv">

            <i class="bi bi-calendar"></i>

            @if (!collapsed){
            <span>
              Rendez-vous
            </span>
            }

          </a>
        </li>

      </ul>


      <!-- USER FOOTER -->
      <div class="user-footer"
           (click)="openLogoutModal()">
        <img src="assets/user.jpg"
             class="user-avatar">

        @if (!collapsed) {
        <span>
          Dr. Samba SIDIBE
        </span>
        }

      </div>

    </nav>


    <!-- CONTENT -->
    <main class="content">
      <router-outlet />
    </main>

  </div>

</div>


<!-- LOGOUT MODAL -->

<div class="modal fade"
     id="logoutModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Déconnexion
        </h5>
      </div>

      <div class="modal-body">
        Voulez-vous vraiment vous déconnecter ?
      </div>

      <div class="modal-footer">

        <button class="btn btn-secondary"
                data-bs-dismiss="modal">
          Annuler
        </button>

        <button class="btn btn-danger"
                (click)="logout()">
          Déconnexion
        </button>

      </div>

    </div>

  </div>

</div>


