<div class="layout">

  <!-- HEADER -->
  <header class="shadow-sm align-items-center">

    <button class="btn btn-light me-3"
            (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
    <img ngSrc="/sn_flag.png" class="ms-2" alt="drapeau" height="25" width="37">
    <span class="fw-bold text-primary h4 text-uppercase my-1 mx-2">
      MEANT - Sénégal
    </span>
    <img src="/armoiries.png" alt="Logo" class="ms-auto" style="height:40px;">
  </header>


  <div class="main">

    <!-- SIDEBAR -->
    <nav class="sidebar"
         [class.collapsed]="collapsed">

      <ul class="menu">

        <li class="menu-item">
          <a routerLink="/pilotage" routerLinkActive="activeMenuItem">

            <i class="bi bi-speedometer2"></i>
            @if (!collapsed){
              <span >
                Pilotage
              </span>
            }

          </a>
        </li>

        <li>
          <a routerLink="/projets" routerLinkActive="activeMenuItem">
            <i class="bi bi-people"></i>
            @if (!collapsed){
              <span >
              Projets
            </span>
            }
          </a>
        </li>
        <li >
          <a routerLink="/feuille-de-route" routerLinkActive="activeMenuItem" >
            <img src="/images/contract-icon.svg" width="24x" alt="contrat"/>
            @if (!collapsed){
              <span >
              Feuille de route
            </span>
            }</a>
        </li>

        <li>
          <a routerLink="/users" routerLinkActive="activeMenuItem">
            <i class="bi bi-people"></i>
            @if (!collapsed){
            <span >
              Utilisateurs
            </span>
            }
          </a>
        </li>
      </ul>


      <!-- USER FOOTER -->
      <div class="user-footer"
           (click)="openLogoutModal()">
        <span class="rounded-circle bg-secondary text-primary p-2">DS</span>

        @if (!collapsed) {
        <span style="white-space: nowrap">Dr. Samba SIDIBE</span>
        }

      </div>

    </nav>


    <!-- CONTENT -->
    <main>
        <router-outlet />
    </main>

  </div>

</div>


<!-- LOGOUT MODAL -->

<div class="modal fade"
     id="logoutModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Déconnexion
        </h5>
      </div>

      <div class="modal-body">
        Voulez-vous vraiment vous déconnecter ?
      </div>

      <div class="modal-footer">

        <button class="btn btn-secondary"
                data-bs-dismiss="modal">
          Annuler
        </button>

        <button class="btn btn-danger"
                (click)="logout()">
          Déconnexion
        </button>

      </div>

    </div>

  </div>

</div>


