@use "../variables" as var;
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


/* MAIN */

.main {
  display: flex;
  margin-top: 60px;
  height: calc(100vh - 60px);
}


/* SIDEBAR */

.sidebar {

  width: 230px;

  background-color: var.$sideBarreColor;

  color: white;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  transition: width 0.5s;
}

.sidebar.collapsed {
  width: 70px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  i{
    width: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease;
  }
  a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: white;
    text-decoration: none;
    &:hover {
      font-weight: bolder;
    }
  }
}




/* USER */

.user-footer {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-top: 1px solid #334155;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}


.activeMenuItem{
  background-color: var.$selectedMenuColor;
  border-left: 3px solid #ffa500;
  font-weight: bolder;
  &:hover{
    cursor: default;
  }
}


