@use "../../variables" as var;


:root{
  --p-tooltip-background: #3b82f6;
}
.ko{
  /*background-color: #ffa8a8;*/
  background-color: #ffcbcb;
}

.ok{
  /*background-color: #ffa8a8;*/
  background-color: #f1fff1;
  color: #003800;

}


