
<div class="mb-3" >
  <div class="sousTitreRecapProjet mb-0">Recapitulation du projet</div>
</div>
@if (engagementProjet){
  <div>
    <table class="recap">
      <tr>
        <th class="detailsLabel">Nom projet :</th>
        <td class="detailsValue">{{engagementProjet.nom}}</td>
      </tr>
      <tr>
        <th class="detailsLabel">Axe {{engagementProjet.axeNum}} : </th>
        <td class="detailsValue">{{engagementProjet.axeName}}</td>
      </tr>
      <tr>
        <th class="detailsLabel">OS {{engagementProjet.axeNum}}.{{engagementProjet.osNum}} : </th>
        <td class="detailsValue">{{engagementProjet.osName}}</td>
      </tr>
      <tr>
        <th class="detailsLabel">Programme : </th>
        <td class="detailsValue">{{engagementProjet.programme}}</td>
      </tr>
      <tr>
        <th class="detailsLabel">Porteur : </th>
        <td class="detailsValue">{{engagementProjet.porteur}}</td>
      </tr>
      <tr>
        <th class="detailsLabel">Partenaires : </th>
        <td class="detailsValue">
          @for (p of engagementProjet.partenaires; track $index){
            @if (p.code==p.nom) {
              <div>{{p.code}}</div>
            } @else {
              <div>
                {{p.nom}}
                @if (p.code) {
                  ({{p.code}})
                }
              </div>
            }

          }

        </td>
      </tr>

      <tr>
        <td class="sousTitreRecapProjet" colspan="2">Jalons du projet</td>
      </tr>
      <tr>
        <td class="detailsLabel">Date de début prévue : </td>
        <td class="detailsValue">{{engagementProjet.debutPrevu}}</td>
      </tr>

      <tr>
        <td class="detailsLabel">Date de début effective : </td>
        <td class="detailsValue">{{engagementProjet.debutEffectif}}</td>
      </tr>

      <tr>
        <td class="detailsLabel">Date de fin prévue : </td>
        <td class="detailsValue">{{engagementProjet.finPrevue}}</td>
      </tr>

      <tr>
        <td class="detailsLabel">Date de fin effective : </td>
        <td class="detailsValue">{{engagementProjet.finEffective}}</td>
      </tr>
      <tr>
        <td class="sousTitreRecapProjet" colspan="2" >
          Jalon des activités
        </td>
      </tr>

      @if (engagementProjet.actions.length==0){
        <tr>
          <td class="text-danger fw-bold" colspan="2">Aucune activité n’a été saisie pour ce projet.</td>
        </tr>
      } @else {
        @for (action of engagementProjet.actions; track $index){
          <tr>
            <td colspan="2" class="bg-light ps-2 h5 fw-bold">{{action.nom}}</td>
          </tr>
          <tr>
            <td class="detailsLabel">Date début prévue :</td>
            <td class="detailsValue">{{action.debutPrevu}}</td>
          </tr>
          <tr>
            <td class="detailsLabel">Date début effective :</td>
            <td class="detailsValue"> {{action.debutEffectif}} </td>
          </tr>
          <tr>
            <td class="detailsLabel">Date fin prévue :</td>
            <td class="detailsValue"> {{action.debutPrevu}} </td>
          </tr>
          <tr>
            <td class="detailsLabel">Date fin effective :</td>
            <td class="detailsValue"> {{action.debutEffectif}} </td>
          </tr>
          <tr>
            <td class="detailsLabel">Porteur :</td>
            <td class="detailsValue"> {{action.porteur}} </td>
          </tr>
          <tr>
            <td class="detailsLabel">Partenaires : </td>
            <td>
              @if (action.partenaires.length==0){
                <span class="text-danger">Les partenaires du projet n’ont pas été indiqués</span>
              } @else {
                @for (p of action.partenaires; track $index){
                  <div>{{p}}</div>
                }
              }
            </td>
          </tr>
          <tr>
            <td class="detailsLabel">Résultats attendus :</td>
            <td>
              @if(action.resultatsAttendus.length == 0){
                <span class="text-danger mx-2">Les résultats attendus du projet n’ont pas été indiqués</span>
              }@else{
                @for (r of action.resultatsAttendus; track $index){
                  <div >{{r}}</div>
                }
              }
            </td>
          </tr>
        }
      }
      <tr>
        <td class="sousTitreRecapProjet" colspan="2">Etat d'avancement</td>
      </tr>
      @if (listExAntePost.length==0){
        <tr>
          <td class="text-danger fw-bold" colspan="2">Pas d'avancement saisie</td>
        </tr>
      } @else {
        @for (exAP of listExAntePost; track $index){
          <tr>
            <td colspan="2" class="bg-light ps-2 h5 fw-bold">{{exAP.annee}}</td>
          </tr>
          <tr>
            <td class="detailsLabel">Trimestre 1 :</td>
            <td class="detailsValue">
              <app-ex-ante-post-details [exAnteComm]="exAP.t1AnteComm" [exAnteVal]="exAP.t1Ante"
                                        [exPostComm]="exAP.t1PostComm" [exPostVal]="exAP.t1Post"></app-ex-ante-post-details>
            </td>
          </tr>

          <tr>
            <td class="detailsLabel">Trimestre 2 :</td>
            <td class="detailsValue">
              <app-ex-ante-post-details [exAnteComm]="exAP.t2AnteComm" [exAnteVal]="exAP.t2Ante"
                                        [exPostComm]="exAP.t2PostComm" [exPostVal]="exAP.t2Post"></app-ex-ante-post-details>
            </td>
          </tr>

          <tr>
            <td class="detailsLabel">Trimestre 3 :</td>
            <td class="detailsValue">
              <app-ex-ante-post-details [exAnteComm]="exAP.t3AnteComm" [exAnteVal]="exAP.t3Ante"
                                        [exPostComm]="exAP.t3PostComm" [exPostVal]="exAP.t3Post"></app-ex-ante-post-details>
            </td>
          </tr>

          <tr>
            <td class="detailsLabel">Trimestre 4 :</td>
            <td class="detailsValue">
              <app-ex-ante-post-details [exAnteComm]="exAP.t4AnteComm" [exAnteVal]="exAP.t4Ante"
                                        [exPostComm]="exAP.t4PostComm" [exPostVal]="exAP.t4Post"></app-ex-ante-post-details>
            </td>
          </tr>
        }
      }
      <tr>
        <td class="sousTitreRecapProjet" colspan="2">Indicateur de pilotage</td>
      </tr>
      <tr>
        <td colspan="2">
          <app-recap-indic-pilote
            [projetId]="engagementProjet.projetId"
          >

          </app-recap-indic-pilote>
        </td>
      </tr>
      <tr>
        <td class="sousTitreRecapProjet" colspan="2">Financements</td>
      </tr>
      <tr>
        <td class="detailsLabel">Enveloppe Totale :</td>
        <td class="detailsValue">{{engagementProjet.enveloppe|xofFormat}}</td>
      </tr>
      <tr>
        <td class="detailsLabel">Financement public :</td>
        <td class="detailsValue">{{engagementProjet.financementPublic|xofFormat}}</td>
      </tr>
      <tr>
        <td class="detailsLabel">Financement hors-budget :</td>
        <td class="detailsValue">{{engagementProjet.financementHorsBudget|xofFormat}}</td>
      </tr>
      <tr>
        <td class="detailsLabel">Maturité du projet :</td>
        <td class="detailsValue">{{engagementProjet.maturite}}</td>
      </tr>
      <tr>
        <td class="detailsLabel">Populations cibles :</td>
        @if (engagementProjet.cibles && engagementProjet.cibles.length>0){
          @for (cible of engagementProjet.cibles; track $index; let first=$first; let last=$last){
            <div [class.border-bottom]="!last">{{cible}}</div>
          }
        } @else {
          <td class="detailsValue text-danger fw-bold">Aucune population cible n’a été sélectionnée</td>
        }
      </tr>
    </table>
  </div>


  <div class="d-flex justify-content-between mt-3">
    <button (click)="previousStep()" type="button" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left me-2"></i>
      Précédent
    </button>
    <button [routerLink]="'/feuille-de-route'" type="button" class="btn btn-link text-danger">
      allez à la liste des projets
    </button>
  </div>
}
