<div id="detailFR" class="bg-white p-4 rounded-4">
  <div class="meantErreur">{{msg}}</div>
  @if (engagementProjet){
    <div class="h4 text-center">
      Feuille de route du projet : <span class="text-primary">{{ engagementProjet.nom }}</span>
    </div>
    <div class="border rounded-3 p-3 flex justify-center">
      <form [formGroup]="projetForm">
        <p-stepper (valueChange)="onStepChange($event)"
          [(value)]="etape"

          [linear]="false"
          class="basis-[50rem]">
          <p-step-list >
            <p-step [value]="1">Jalons Projet</p-step>
            <p-step [value]="2">Activités</p-step>
            <p-step [value]="3">Etat d’avancement</p-step>
            <p-step [value]="4">Indicateurs de pilotage</p-step>
            <p-step [value]="5">Financement</p-step>
            <p-step [value]="6">Récapitulation fiche projet</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel  [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                @if(etape==1){
                  <app-jalons-projet
                    (etapeEmitter)="suivant(1)"
                    [projetId]="engagementProjet.projetId"></app-jalons-projet>
                }
              </ng-template>
            </p-step-panel>
            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                @if (etape==2){
                  <app-activites-projet
                    [projetId]="engagementProjet.projetId"
                    (etapeEmitter)="suivant($event)"></app-activites-projet>
                }
              </ng-template>
            </p-step-panel>
            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                @if (etape==3){
                  <app-etats-avancements
                    [projetId]="engagementProjet.projetId"
                    (etapeEmitter)="suivant($event)">
                  </app-etats-avancements>
                }
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="4">
              <ng-template #content let-activateCallback="activateCallback">
                @if(etape===4){
                  <app-indic-pilotage
                    [projetId]="engagementProjet.projetId"
                    (etapeEmitter)="suivant($event)">
                  </app-indic-pilotage>
                }
              </ng-template>

            </p-step-panel>

<!--
            <p-step-panel [value]="5">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="mb-3" >
                  <div class="fw-bold h4 text-primary mb-0">Aspects financiers et opérationnels</div>
                  <div class="fst-italic text-danger mt-0">Remplir les ressources budgétaires, le niveau de maturité et les bénéficiaires</div>
                </div>

                <div formGroupName="finances">

                  <div class="form-floating mb-3">
                    <input formControlName="envTotale" type="number" class="form-control" id="envTotalInput" placeholder="">
                    <label for="envTotalInput">Enveloppe totale</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input formControlName="finePublic" type="number" class="form-control" id="financePublicInput" placeholder="">
                    <label for="financePublicInput">Financement public</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input formControlName="fineHorsBudget" type="number" class="form-control" id="financeHorsBudgetInput" placeholder="">
                    <label for="financeHorsBudgetInput">Financement hors-budget</label>
                  </div>

                  <div class="form-floating mb-3">
                    <select formControlName="maturite" class="form-select" id="maturiteSelect" aria-label="Floating label select example">
                      <option value="">Choisir</option>
                      @for (m of maturites; track $index){
                        <option [value]="m">{{m}}</option>
                      }
                    </select>
                    <label for="maturiteSelect">Maturité du projet</label>
                  </div>

                  <div class="border rounded p-2">
                    <div>Population cible</div>

                    <div class="form-check form-switch mb-3">
                      <input (change)="cibleTousChanged($event)" formControlName="cibleTous" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
                      <label class="form-check-label" for="switchCheckChecked">Tous</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                      <input formControlName="cibleHorsDakar" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
                      <label class="form-check-label" for="switchCheckChecked">Hors Dakar</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                      <input formControlName="cibleUrbains" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
                      <label class="form-check-label" for="switchCheckChecked">Urbains</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                      <input formControlName="cibleRuraux" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" >
                      <label class="form-check-label" for="switchCheckChecked">Ruraux</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                      <input formControlName="cibleFaiblesRevenus" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
                      <label class="form-check-label" for="switchCheckChecked">faibles revenus</label>
                    </div>

                  </div>
                </div>

                <div class="d-flex justify-content-between mt-3">
                  <button (click)="previousStep()" type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left me-2"></i>
                    Précédent
                  </button>
                  <button [disabled]="chargementEngagement || projetForm.get('exAntes')?.invalid || projetForm.get('exPosts')?.invalid"
                          (click)="enregistrerFinances()" type="button" class="btn btn-outline-primary">
                    Continuer
                    <i class="bi bi-arrow-right ms-2"></i>
                  </button>
                </div>
              </ng-template>
            </p-step-panel>
-->
            <!--
            <p-step-panel [value]="6">
              <ng-template #content let-activateCallback="activateCallback">

                <div class="mb-3" >
                  <div class="sousTitreRecapProjet mb-0">Recapitulation du projet</div>
                </div>

                <div>
                  <table class="recap">
                    <tr>
                      <th class="detailsLabel">Nom projet :</th>
                      <td class="detailsValue">{{engagementProjet.nom}}</td>
                    </tr>
                    <tr>
                      <th class="detailsLabel">Axe {{engagementProjet.axeNum}} : </th>
                      <td class="detailsValue">{{engagementProjet.axeName}}</td>
                    </tr>
                    <tr>
                      <th class="detailsLabel">OS {{engagementProjet.axeNum}}.{{engagementProjet.osNum}} : </th>
                      <td class="detailsValue">{{engagementProjet.osName}}</td>
                    </tr>
                    <tr>
                      <th class="detailsLabel">Programme : </th>
                      <td class="detailsValue">{{engagementProjet.programme}}</td>
                    </tr>
                    <tr>
                      <th class="detailsLabel">Porteur : </th>
                      <td class="detailsValue">{{engagementProjet.porteur}}</td>
                    </tr>
                    <tr>
                      <th class="detailsLabel">Partenaires : </th>
                      <td class="detailsValue">
                        @for (p of engagementProjet.partenaires; track $index){
                          @if (p.code==p.nom) {
                            <div>{{p.code}}</div>
                          } @else {
                            <div>
                              {{p.nom}}
                              @if (p.code) {
                                ({{p.code}})
                              }
                            </div>
                          }

                        }

                      </td>
                    </tr>

                    <tr>
                      <td class="sousTitreRecapProjet" colspan="2">Jalons du projet</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Date de début prévue : </td>
                      <td class="detailsValue">{{engagementProjet.debutPrevu}}</td>
                    </tr>

                    <tr>
                      <td class="detailsLabel">Date de début effective : </td>
                      <td class="detailsValue">{{engagementProjet.debutEffectif}}</td>
                    </tr>

                    <tr>
                      <td class="detailsLabel">Date de fin prévue : </td>
                      <td class="detailsValue">{{engagementProjet.finPrevue}}</td>
                    </tr>

                    <tr>
                      <td class="detailsLabel">Date de fin effective : </td>
                      <td class="detailsValue">{{engagementProjet.finEffective}}</td>
                    </tr>
                    <tr>
                      <td class="sousTitreRecapProjet" colspan="2" >
                        Jalon des activités
                      </td>
                    </tr>

                        @if (engagementProjet.actions.length==0){
                          <tr>
                            <td class="text-danger fw-bold" colspan="2">Aucune activité n’a été saisie pour ce projet.</td>
                          </tr>
                        } @else {
                          @for (action of engagementProjet.actions; track $index){
                            <tr>
                              <td colspan="2" class="bg-light ps-2 h5 fw-bold">{{action.nom}}</td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Date début prévue :</td>
                              <td class="detailsValue">{{action.debutPrevu}}</td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Date début effective :</td>
                              <td class="detailsValue"> {{action.debutEffectif}} </td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Date fin prévue :</td>
                              <td class="detailsValue"> {{action.debutPrevu}} </td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Date fin effective :</td>
                              <td class="detailsValue"> {{action.debutEffectif}} </td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Porteur :</td>
                              <td class="detailsValue"> {{action.porteur}} </td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Partenaires : </td>
                              <td>
                                @if (action.partenaires.length==0){
                                  <span class="text-danger">Les partenaires du projet n’ont pas été indiqués</span>
                                } @else {
                                  @for (p of action.partenaires; track $index){
                                    <div>{{p}}</div>
                                  }
                                }
                              </td>
                            </tr>
                            <tr>
                              <td class="detailsLabel">Résultats attendus :</td>
                              <td>
                                @if(action.resultatsAttendus.length == 0){
                                  <span class="text-danger mx-2">Les résultats attendus du projet n’ont pas été indiqués</span>
                                }@else{
                                  @for (r of action.resultatsAttendus; track $index){
                                    <div >{{r}}</div>
                                  }
                                }
                              </td>
                            </tr>
                          }
                        }
                    <tr>
                      <td class="sousTitreRecapProjet" colspan="2">Etat d'avancement</td>
                    </tr>
                    @if (listExAntePost.length==0){
                      <tr>
                        <td class="text-danger fw-bold" colspan="2">Pas d'avancement saisie</td>
                      </tr>
                    } @else {
                      @for (exAP of listExAntePost; track $index){
                        <tr>
                          <td colspan="2" class="bg-light ps-2 h5 fw-bold">{{exAP.annee}}</td>
                        </tr>
                        <tr>
                          <td class="detailsLabel">Trimestre 1 :</td>
                          <td class="detailsValue">
                            <app-ex-ante-post-details [exAnteComm]="exAP.t1AnteComm" [exAnteVal]="exAP.t1Ante"
                              [exPostComm]="exAP.t1PostComm" [exPostVal]="exAP.t1Post"></app-ex-ante-post-details>
                          </td>
                        </tr>

                        <tr>
                          <td class="detailsLabel">Trimestre 2 :</td>
                          <td class="detailsValue">
                            <app-ex-ante-post-details [exAnteComm]="exAP.t2AnteComm" [exAnteVal]="exAP.t2Ante"
                                                      [exPostComm]="exAP.t2PostComm" [exPostVal]="exAP.t2Post"></app-ex-ante-post-details>
                          </td>
                        </tr>

                        <tr>
                          <td class="detailsLabel">Trimestre 3 :</td>
                          <td class="detailsValue">
                            <app-ex-ante-post-details [exAnteComm]="exAP.t3AnteComm" [exAnteVal]="exAP.t3Ante"
                                                      [exPostComm]="exAP.t3PostComm" [exPostVal]="exAP.t3Post"></app-ex-ante-post-details>
                          </td>
                        </tr>

                        <tr>
                          <td class="detailsLabel">Trimestre 4 :</td>
                          <td class="detailsValue">
                            <app-ex-ante-post-details [exAnteComm]="exAP.t4AnteComm" [exAnteVal]="exAP.t4Ante"
                                                      [exPostComm]="exAP.t4PostComm" [exPostVal]="exAP.t4Post"></app-ex-ante-post-details>
                          </td>
                        </tr>
                      }
                    }
                    <tr>
                      <td class="sousTitreRecapProjet" colspan="2">Indicateur de pilotage</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <app-recap-indic-pilote
                          [projetId]="engagementProjet.projetId"
                        >

                        </app-recap-indic-pilote>
                      </td>
                    </tr>
                    <tr>
                      <td class="sousTitreRecapProjet" colspan="2">Financements</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Enveloppe Totale :</td>
                      <td class="detailsValue">{{engagementProjet.enveloppe|xofFormat}}</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Financement public :</td>
                      <td class="detailsValue">{{engagementProjet.financementPublic|xofFormat}}</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Financement hors-budget :</td>
                      <td class="detailsValue">{{engagementProjet.financementHorsBudget|xofFormat}}</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Maturité du projet :</td>
                      <td class="detailsValue">{{engagementProjet.maturite}}</td>
                    </tr>
                    <tr>
                      <td class="detailsLabel">Populations cibles :</td>
                      @if (engagementProjet.cibles && engagementProjet.cibles.length>0){
                        @for (cible of engagementProjet.cibles; track $index; let first=$first; let last=$last){
                          <div [class.border-bottom]="!last">{{cible}}</div>
                        }
                      } @else {
                        <td class="detailsValue text-danger fw-bold">Aucune population cible n’a été sélectionnée</td>
                      }
                    </tr>
                  </table>
                </div>


                <div class="d-flex justify-content-between mt-3">
                  <button (click)="previousStep()" type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left me-2"></i>
                    Précédent
                  </button>
                  <button [disabled]="chargementEngagement || projetForm.get('exAntes')?.invalid || projetForm.get('exPosts')?.invalid"
                          (click)="enregistrerIndicateurs()" type="button" class="btn btn-outline-primary">
                    Enregistrer et quitter
                    <i class="bi bi-check-circle ms-2"></i>
                  </button>
                </div>
              </ng-template>
            </p-step-panel>
          -->
          </p-step-panels>
        </p-stepper>
      </form>
    </div>
  } @else if (chargement) {
    chargement projet
  }
</div>
