/* You can add global styles to this file, and also import other style files */
@use "variables" as var;

@use "../node_modules/bootstrap-icons/font/bootstrap-icons";

@use "bootstrap/scss/bootstrap" with (
  $primary: var.$primary,
  $secondary: var.$secondary,
);

:root {
  color-scheme: light;
}


main {
  flex: 1;
  background: #f1f5f9;
  overflow: auto;
  @extend .p-2;
  @extend .p-lg-4;
}

.headerRow{
  @extend .text-primary;
}

.titrePage{
  @extend .h3;
  color: #2c2c2c;
}

.detailsValue{
  text-align: left;
}

.detailsLabel{
  @extend .detailsValue;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}


.menuSvgIcon{
  color: blue;
}

.dashTitle{
  @extend .text-primary;
}
.paire{
  background-color: var(--p-gray-100);
}

.rowError{
  @extend .border-5;
  @extend .border-end-0;
  @extend .border-top-0;
  @extend .border-bottom-0;
  @extend .border-danger;
  background-color: var.$bgErrorRow;
}

.rowSelected{
  @extend .border-end;
  @extend .border-5;
  @extend .border-dark;
}

.sousTitreRecapProjet{
  @extend .fw-bold;
  @extend .h4;
  @extend .text-primary;
  @extend .pt-3;
}

.recap{
  width: 100%;
  tr{
    @extend .border-top;
    td{
      @extend .py-2;
    }
  }
  tr:last-child {
    @extend .border-bottom;
  }
}

.formTable{
  tr{
    td{
      @extend .py-1;
    }

  }
  width: 100%;
}

.meantErreur{
  @extend .text-danger
}

.stepItem{
  @extend .border;
  @extend .rounded-3;
}

.meantAbrev{
  color: blue;
}

.iconAddUser{
  @extend .btn;
  @extend .btn-link;
  @extend .bi;
  @extend .bi-person-add;
  @extend .ms-5;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  &:hover{
    @extend .bi-person-fill-add;
    @extend .text-primary;
  }
}
